@CHARSET "UTF-8";

/* 简易数据表格-格边框 */
.m-table {
	table-layout: fixed;
	width: 80%;
	line-height: 1.5;
	margin: 5px 0 5px 0;
}

.m-table th, .m-table td {
	padding: 10px;
	border: 1px solid #ddd;
}

.m-table th {
	font-weight: bold;
}

.m-table tbody tr:nth-child(2n) {
	background: #fafafa;
}

.m-table tbody tr:hover {
	background: #f0f0f0;
}

.m-table .cola {
	width: 100px;
}

.m-table .colb {
	width: 200px;
}
/* 简易数据表格-行边框*/
.m-table-row th, .m-table-row td {
	border-width: 0 0 1px;
}
/* 简易数据表格-圆角*/
.m-table-rds {
	border-collapse: separate;
	border: 1px solid #ddd;
	border-width: 0 1px 1px 0;
	border-radius: 5px;
}

.m-table-rds th, .m-table-rds td {
	border-width: 1px 0 0 1px;
}

.m-table-rds>:first-child>:first-child>:first-child {
	border-top-left-radius: 5px;
}

.m-table-rds>:first-child>:first-child>:last-child {
	border-top-right-radius: 5px;
}

.m-table-rds>:last-child>:last-child>:first-child {
	border-bottom-left-radius: 5px;
}

.m-table-rds>:last-child>:last-child>:last-child {
	border-bottom-right-radius: 5px;
}

/* 通用自定义按钮-默认蓝色 */
.u-btn {
	display: inline-block;;
	-webkit-box-sizing: content-box;;
	-moz-box-sizing: content-box;;
	box-sizing: content-box;;
	padding: 0 12px;;
	height: 28px;;
	line-height: 28px;;
	border: 1px solid #2d88bf;;
	border-radius: 5px;;
	font-size: 12px;;
	letter-spacing: 1px;;
	text-align: center;;
	vertical-align: middle;;
	cursor: pointer;;
	word-wrap: normal;;
	white-space: nowrap;;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.2);;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6dbde4),
		to(#399dd8));;
	background: -webkit-linear-gradient(#6dbde4, #399dd8);;
	background: -moz-linear-gradient(#6dbde4, #399dd8);;
	background: -ms-linear-gradient(#6dbde4, #399dd8);;
	background: linear-gradient(#6dbde4, #399dd8);
	box-shadow: 1px 1px 1px #000000;
}

.u-btn, .u-btn:hover {
	color: #fff;;
	text-decoration: none;
}

.u-btn:hover, .u-btn:focus {
	background: #399dd8;
}

.u-btn:active {
	box-shadow: inset 1px 1px 1px #000000;
}

.u-btn  ::-moz-focus-inner {
	padding: 0;;
	margin: 0;;
	border: 0;
}

.u-btn .btnsel {
	display: inline-block;;
	vertical-align: middle;;
	border-style: solid;;
	border-width: 4px 4px 0;;
	border-color: rgba(255, 255, 255, 0.8) transparent transparent;
}

.u-btn:hover .btnsel, .u-btn:focus .btnsel {
	border-top-color: rgba(255, 255, 255, 1);
}

/* 文本输入框 */
.u-ipt {
	width: 280px;;
	padding: 5px;;
	height: 17px;;
	border: 1px solid #D9D9D9;;
	border-top-color: #c0c0c0;;
	line-height: 17px;;
	font-size: 12px;;
	color: #777;;
	background: #fff;
	box-shadow: inset 1px 1px 1px #000000;
}

/* 文本输入框-窄 */
.u-ipt-1 {
	width: 90px;
	box-shadow: inset 1px 1px 1px #000000;
}

/* 文本输入框-出错 */
.u-ipt-err {
	border-color: #c00 #e00 #e00;
	box-shadow: inset 1px 1px 1px #000000;
}

/* 下拉框 */
.u-pld {
	width: 290px;;
	padding: 5px;;
	height: 30px;;
	border: 1px solid #D9D9D9;;
	border-top-color: #c0c0c0;;
	line-height: 17px;;
	font-size: 12px;;
	color: #777;;
	background: #fff;
	box-shadow: inset 1px 1px 1px #000000;
}

.u-dtm {
	width: 80px;;
	padding: 5px;;
	height: 30px;;
	border: 1px solid #D9D9D9;;
	border-top-color: #c0c0c0;;
	line-height: 17px;;
	font-size: 12px;;
	color: #777;;
	background: #fff;
	box-shadow: inset 1px 1px 1px #000000;
}

.u-txa {
	width: 280px;;
	padding: 5px;;
	height: 68px;;
	border: 1px solid #D9D9D9;;
	border-top-color: #c0c0c0;;
	line-height: 17px;;
	font-size: 12px;;
	color: #777;;
	background: #fff;
	box-shadow: inset 1px 1px 1px #000000;
}

/* 操作型弹出浮层-默认居中 */
.m-layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.m-layer>table {
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.m-layer>table>tbody>tr>td {
	vertical-align: middle;
}

.m-layer .lywrap {
	position: relative;
	width: 400px;
	margin: 0 auto;
	border: 5px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.m-layer .lytt {
	position: relative;
	padding: 10px;
	height: 20px;
	margin: 0 0 -1px;
	line-height: 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
	background: #fafafa;
}

.m-layer .lytt h2 {
	float: left;
	font-size: 16px;
}

.m-layer .lyclose {
	float: right;
	font-weight: bold;
	font-family: arial;
	font-size: 24px;
	color: #ccc;
	text-shadow: 0 1px #fff;
	cursor: pointer;
}

.m-layer .lyclose:hover {
	color: #aaa;
}

.m-layer .lyct:last-child, .m-layer .lybt {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.m-layer .lyct:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.m-layer .lyct {
	padding: 20px;
	background: #fff;
}

.m-layer .lybt {
	height: 30px;
	line-height: 30px;
	padding: 10px;
	margin: -1px 0 0;
	border-top: 1px solid #ddd;
	background: #f7f7f7;
}

.m-layer .lyother {
	float: left;
	color: #999;
}

.m-layer .lybtns {
	float: right;
}

.m-layer .lybtns button {
	float: left;
	margin-left: 10px;
}
/* 显示 */
.m-layer.z-show {
	display: block;
}